.ParentBox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
  background-color: aliceblue;
}

.Foto {
  height: 50%;
  overflow: hidden;
  float: left;
  background-color: #e3e9ee;
}
.Foto img {
  height: 300px;
}

.Desc {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}
.Desc .info {
  line-height: 1.8;
  color: rgb(18, 11, 49);
}
.Desc .price {
  font-size: 20px;
  font-weight: 500;
}
.Desc .title {
  margin: 0;
}
.Desc .cafe {
  color: #acaeb2;
  text-transform: uppercase;
}
